---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$background-image: url(images/dark-river.jpg);

body {
  background: {
    image: $background-image;
    repeat: no-repeat;
    attachment: fixed;
    size: 100% 100%;
  }
}