---

---

@import "minima";

$content-width: 900px;
$spacing-unit: 30px;
$base-font-size: 16px;
$small-font-size:  $base-font-size * 0.9;

$text-color:       lightcyan;

$header-font-family: 'Itim', cursive;
$background-image: url(images/dark-river.jpg);

@mixin linkColors($colorNormal, $colorHover) {
  &:visited, &:link {
    color: $colorNormal;
  }
  &:hover, &:active {
    color: $colorHover;
    text-decoration: none;
  }
}

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}


.site-header {
  border: {
    top: none;
    bottom: inset 2px white;
  }
  box-shadow: 0px 6px 5px 10px gray;
  min-height: $spacing-unit * 3;
}

.site-logo {
  float: left;
  width: $base-font-size * 5;
  background-color: white;
  margin: $spacing-unit*0.5 $spacing-unit*0.5 0 0;
}

.site-title {
  @include relative-font-size(3.5);
  font-family: $header-font-family;
  
  @include linkColors(lightcyan, lightskyblue);
  
  margin: $spacing-unit 0;
  text-shadow: 1px 1px 6px white;
}

.site-nav {
  .page-link {
    @include relative-font-size(1.4);
    font-family: $header-font-family;
    padding: 5px;
    &:hover {
      border: 1px solid white;
      text-decoration: none;
    }
  }
  .trigger {
    margin-top: $spacing-unit;
  }
}

.post-list-heading {
  border-top: 1px solid gray;
  text-transform: capitalize;
}

.post-list-element {
  display: flex;
  flex-wrap: nowrap;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 6px 6px 5px 10px black;
}

.post-image {
  width: 60px;
  margin: 10px;
}

.post-info {
  margin-top: 10px;
}

.post-meta {
  font-size: $base-font-size;
  color: black;
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
    text-transform: capitalize;
  }
}

.post-meta-light {
  @extend .post-meta;
  color: bisque;
}

.post-link {
  font-weight: bold;
  @include linkColors(black,white);
}

.share-widget {
  display: inline-block;
  background-color: #3b5998;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  a {
    @include linkColors(black,white);
  }
}

.footer-heading {
  @include relative-font-size(1.4);
}

.p-name {
  @include relative-font-size(1.2);
}

.u-email {
  @include linkColors(lightcyan, lightskyblue);
}

.social-media-list li {
  .username, a {
    @extend .u-email;
  }
}
  
.site-footer {
  border-top: inset 2px white;
  box-shadow: 0px -6px 5px 10px gray;
}

body {
  color: $text-color;
  background: {
    image: $background-image;
    repeat: no-repeat;
    attachment: fixed;
    size: 100% 100%;
  }
}