---
layout: default
---

<div class="home">

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">
      {%- if page.title == "Home" -%}
        Recent Posts
      {%- endif -%}
    </h2>
    <ul class="post-list">
      {%- assign size = site.posts.size | minus: 1 -%}
      {%- for i in (0..size) -%}
      {%- if page.title == "Home" and i == 3 -%}
        {%- break -%}
      {%- endif -%}
      <li>
        {%- assign post = site.posts[i] -%}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
